<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>All Chats!</h3>
    <form method="GET" action="/chats/new">
        <button>New Chat</button>
    </form>
<br>
    <% for(let chat of chats) { %>
    <div class="chat">
        <p>From: <i><%= chat.from %></i></p>
        <div class="msg">
        <p><%= chat.message %></p>
        </div>
        <p>Received By: <i><%= chat.to %></i></p>
        <br> <br>
    <hr>
    <p><%= chat.created_at %></p>
    </div>

<br><br>

<% } %>
    
</body>
</html>

